 
  /*  DISPLAY VENUES */
  .container-item {
    
    height: calc(100% - 56px) ;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-item ul {
    padding: 0;
    height: 90%;
    overflow-y: auto;
  }
  
  input {
    width: 100%;
    padding: 1rem;
    outline: none;
    border: 1px solid grey;
  }
  
  .venue__item {
    width: 90%;
    padding: 0.5rem;
    list-style: none;
    font-size: 1rem;
    margin-top: .95rem;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    background-color: #f44336;
    color: #fefefe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor:pointer;
    transition: background-color .5s linear;
  }
  .venue__item:hover,
  .venue__item:focus,
  .venue__item .active:hover,
  .venue__item .active:focus  {
    background-color: #000;
    opacity: .7;
  }
  .venue__item:hover img,
  .venue__item:focus img,
  .venue__item .active:hover img,
  .venue__item .active:focus img {
    color: #f44336;
  }

 

 .not__found{
   text-align: center;
   color:#fefefe;
   background-color: #f44336;
   padding: 1rem 0;
   line-height: 2;
 }