footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 56px;
    overflow: hidden;
     /* to be above map */
  z-index: 210;
    text-align: center;
  }
  footer a {
    text-decoration: none;
    color: #fefefe;
    text-align: center;
  }